#console {
    display: block;
    max-width: 100%;
}

#console div{
    font-size: 0.8em;
    margin-bottom: 0.5em;
    height: 32.5em;
    width: 100%;
    overflow: auto;
}

.c_normal {
    
}

.c_error {
    color: red;
}

.c_instrumentation {
    font-style: italic;
}

.c_heading {
    font-family: "open_sansbold", Arial, sans-serif;
}
